@model WorldBuilder.ViewModels.CharacterViewModel
@{
    ViewBag.Title = "Character Profile";
}

@using (Html.BeginForm("EditCharacter", "Character", FormMethod.Post))
{
    <fieldset>
        <div class="container">
            @Html.Hidden("Id")
            <div id="title">
                @Html.TextBoxFor(model => model.Name)
                <input type="submit" value="Save" />
            </div>
            <div class="character-display">
                <div class="notes col-md-7">
                    @Html.LabelFor(model => model.Description)
                    @Html.TextAreaFor(model=> model.Description)
                </div>
                <div class="details col-md-5">
                    <div class="characteristics">
                        <div class="race-label">
                            @Html.LabelFor(model => model.RaceId)
                        </div>
                        <div class="race-field">
                            @Html.DropDownListFor(model => model.RaceId, Model.AvailableRaces)
                        </div>

                        <div class="gender-label">
                            @Html.LabelFor(model => model.GenderId)
                        </div>
                        <div class="gender-field">
                            @Html.DropDownListFor(model => model.GenderId, Model.AvailableGenders)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

}