@model WorldBuilder.ViewModels.CharacterViewModel
@{
    ViewBag.Title = "Characters";
}
<div id="title">
    <h2>Here you can create characters</h2>
</div>

@using (Html.BeginForm("CreateCharacter", "Character", FormMethod.Post))
{
    <fieldset>
        <legend>Character</legend>

        <div class="name-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="name-field">
            @Html.TextBoxFor(model => model.Name)
        </div>

        <div class="race-label">
            @Html.LabelFor(model => model.RaceId)
        </div>
        <div class="race-field">
            @Html.DropDownListFor(model => model.RaceId, Model.AvailableRaces)
        </div>

        <div class="gender-label">
            @Html.LabelFor(model => model.GenderId)
        </div>
        <div class="gender-field">
            @Html.DropDownListFor(model => model.GenderId, Model.AvailableGenders)
        </div>
    </fieldset>
    <input type="submit" value="Save" />
}